

.body{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    border-radius: 10px;
    background: cyan;
}

.row{
    width: 100%;
}

.row button{
    width: 100px;
    height: 50px;
}